In [1]:
%load_ext sql

In [2]:
%sql mysql+mysqlconnector://root:root@localhost/test

In [3]:
%%sql
create database chatbot_db;

 * mysql+mysqlconnector://root:***@localhost/test
1 rows affected.

[]

In [22]:
%%sql
USE chatbot_db;

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [27]:
%%sql
drop table chat_history

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.

[]

In [28]:
%%sql

CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(100) NOT NULL,
    password VARCHAR(100) NOT NULL
);

CREATE TABLE chat_history (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(100),
    user_input TEXT,
    bot_reply TEXT,
    sentiment VARCHAR(50),
    timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

 * mysql+mysqlconnector://root:***@localhost/test
0 rows affected.
0 rows affected.

[]

In [31]:
%%sql
select *from chat_history;

 * mysql+mysqlconnector://root:***@localhost/test
3 rows affected.

[(1, 'ashokravi1604@gmail.com', "I'm still checking it out.", "That's great! How can I assist you further?", 'POSITIVE', datetime.datetime(2025, 4, 5, 15, 6, 8)),
 (2, 'ashokravi1604@gmail.com', 'This service is terrible!', "I'm sorry to hear that. Let me help you with that.", 'NEGATIVE', datetime.datetime(2025, 4, 5, 15, 6, 21)),
 (3, 'rock', 'It was okay, nothing special.', "I'm sorry to hear that. Let me help you with that.", 'NEGATIVE', datetime.datetime(2025, 4, 5, 15, 6, 59))]

In [32]:
%%sql
select * from users

 * mysql+mysqlconnector://root:***@localhost/test
2 rows affected.

[(1, 'ashokravi1604@gmail.com', '123'), (2, 'rock', '34')]